.container{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 160px;
  max-width: 1080px;
  margin: 30px 0;
}
.logo{
display: flex;
height: 100%;
}
.logo img{
  display: flex;
  height: 100%;
  width: 100%;

  }