.container {
  color: #f7f7f7;
  padding: 0 14px;
  align-items: center;
  display: flex;
  flex-direction: column;
}
.center {
  text-align: center;
  margin-bottom: 14px;
}
.content {
  max-width: 600px;
  background-color: #0f0f0f;
  margin: 24px auto;
  padding: 24px;
  border-radius: 25px;
  box-shadow: 3px 3px 10px 2px rgb(0, 0, 0, 0.4);
  gap: 10px;
  font-size: 18px;
  

}

.content p:not(:last-of-type) {
  margin-bottom: 16px;
}
.content p {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.container a {
  text-decoration: none;
  color: #f7f7f7;
  font-weight: bold;
  background-color: #575757;
  padding: 8px 24px;
  border-radius: 25px;
  box-shadow: 3px 3px 10px 2px rgba(0, 0, 0, 0.5);
  transition: all 0.3s ease; 
  margin: 24px auto;
  align-self: center;
}

.container a:hover {
  box-shadow: 3px 3px 10px 1px rgba(0, 0, 0, 0.3); 
  background-color: #2a2a2a;
  transform: scale(1.05);
}
